// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

  h1,h2 {
      line-height: 1.0;
  }

  h1 {
    font-size: 4.5rem;
    font-weight: bolder;
  }

  h2 {
    font-size: 2.5rem;
  }

}
