<% content_for :title do %>Today View<% end %>
<div class="gridster">
    <ul>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="forecast_summary" data-detail="false" data-view="Forecast" data-widget_title="Weather Forecast"></div>
        </li>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-view="Clock"></div>
            <i class="fa fa-clock-o icon-background"></i>
        </li>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="forecast_detail" data-detail="true" data-view="Forecast" data-widget_title="Weather Forecast"></div>
        </li>
    </ul>
</div>