// ----------------------------------------------------------------------------
// Widget-forecast styles
// ----------------------------------------------------------------------------

.widget-forecast {

    #summary {

        h1,h2 {
            line-height: 1.0;
        }

        h1 {
            font-size: 4.5rem;
            font-weight: bolder;
            margin-bottom: 0;

            span {
                vertical-align: top;
            }
        }

        h2 {
            font-size: 2.5rem;
        }

    }

    #detail {

        h2,h3 {
            line-height: 1.0;
        }

        h2 {
            font-size: 3.5rem;
            font-weight: bolder;
            margin-bottom: 0;

            span {
                vertical-align: top;
            }
        }

        h3 {
            font-size: 1.5rem;
        }

        canvas {
            height: 48px;
            width: 48px;
        }

    }


    .title {
        text-align: left;
        font-size: 25px;
    }

    .temp {
        text-align: left;
        font-size: 45px;
    }

    .summary {
        vertical-align: middle;
        font-size: 17px;
    }

    .forecast-icon {
        float: left;
        text-align: left;
        margin-right: 5px;
    }

}
